.footer {
  width: 100%;
  min-width: 1180px;
  height: 44px;
  background: #2C2F33;
}
.footerContent {
  width: 1000px;
  margin: 0 auto;
  line-height: 44px;
  text-align: center;
  color: #fff;
  opacity: 0.4;
}
