@font-face{
  font-family: 'Rufina-Bold';
  src : url('../../assets/Rufina-Bold.ttf');
}

.search {
  width: 100%;
  min-width: 1180px;
  height: 478px;
  margin: 0 auto;
  background-image: url('https://img.alicdn.com/tfs/TB14TEEm7CWBuNjy0FaXXXUlXXa-1440-478.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  position: relative;
}

.block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(31,56,88,0.40);
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.content p {
  font-family: Rufina-Bold;
  font-size: 54px;
  color: #fff;
  line-height: 56px;
}

.content p:last-of-type {
  font-size: 34px;
  color: #fff;
  margin-bottom: 38px;
  line-height: 48px;
}

.searchBox {
  width: 490px;
  height: 60px;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  align-items: center;
}

.searchInput {
  width: 368px;
  height: 40px;
  padding-top: 6px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 0 6px;
  text-indent: 10px;
  border: 0;
  font-size: 14px;
  outline: none;
}

.submit {
  color: #fff;
  background: #F37327;
  font-size: 14px;
  width: 92px;
  height: 40px;
  border-radius: 3px;
  margin-left: 10px;
  border: 0;
  cursor: pointer;
}

.hot {
  padding: 10px 0;
  text-align: center;
  color: rgba(255,255,255,0.80);
}

.hot a {
  color: rgba(255,255,255,0.80);
  padding-right: 10px;
}

.hot a:hover {
  color: #F37327;
}
